<div class="container-fluid">
  <p>Data Received From Child Comp: {{dataReceivedFromChildComp }}</p>
  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <a class="nav-item nav-link active" data-bs-toggle="tab" data-bs-target="#basic-databinding" role="tab"
        aria-controls="basic-databinding" aria-selected="true">Basic Data Binding</a>
      <a class="nav-item nav-link" data-bs-toggle="tab" data-bs-target="#cpb-tab" role="tab" aria-controls="cpb-tab"
        aria-selected="false">Custom Prop Binding</a>
      <a class="nav-item nav-link" data-bs-toggle="tab" data-bs-target="#ceb-tab" role="tab" aria-controls="ceb-tab"
        aria-selected="false">Child to Parent Comp Communication</a>
      <a class="nav-item nav-link" data-bs-toggle="tab" data-bs-target="#directives-tab" role="tab"
        aria-controls="directives-tab" aria-selected="false">Directives</a>
    </div>
  </nav>
  <div class="tab-content" id="nav-tabContent">

    <div class="tab-pane fade show active" id="basic-databinding" role="tabpanel"
      aria-labelledby="basic-databinding-tab">
      <h2>Basic Data Binding</h2>
      <h4>1. Interpolation</h4>
      <p>{{appName}}</p>

      <hr>
      <h4>2. Property Binding</h4>
      <div [title]="companyName">Mouse over to see this </div>
      <input type="text" [value]="companyName">

      <hr>
      <h4>3. Event Binding</h4>
      <button type="button" (click)="handleClickMe($event)">Click Me</button>

      <hr>
      <h4>4. Two Way Binding</h4>
      <p>{{courseName}}</p> <!-- interpolation -->
      <input type="text" [value]="courseName"><!-- Property Binding-->
      <br>
      <input type="text" [(ngModel)]="courseName">


    </div>

    <div class="tab-pane fade" id="cpb-tab" role="tabpanel" aria-labelledby="cpb-tab-tab">
      <h2>Custom Property Binding -- Parent to Child Comp Communication</h2>
      <app-cpb></app-cpb>
      <!-- Step 2: Do the custom property Binding - Pass data to the child comp thru custom property -->
      <app-cpb [age]="30"></app-cpb>
      <app-cpb [age]="40"></app-cpb>
      <app-cpb [age]="myAge"></app-cpb>
    </div>

    <div class="tab-pane fade" id="ceb-tab" role="tabpanel" aria-labelledby="ceb-tab-tab">
      <h2>Child to Parent Comp Communication</h2>
      <!-- Step 5 of CEB: handle the emitted custom event with data using custom event binding-->
      <app-ceb (profileLoaded)="handleProfileLoaded($event)"></app-ceb>
    </div>

    <div class="tab-pane fade" id="directives-tab" role="tabpanel" aria-labelledby="directives-tab">
      <h2>Directives</h2>
      <pre>
      Directives
      ---
          Special Instructions to the DOM 
      
          1. Attribute Directives
              Examples: routerLink, routerLinkActive
      
          2. Structural Directives 
              *ngIf, *ngFor, ngSwitch 

          3. Custom Attribute Directives 
              ng g d concepts/directives/colorizer
      
          4. Custom Structural Directives [TODO]
      
            
      </pre>

      <h4>*ngIf Demo</h4>

      <div class="alert alert-success" *ngIf="isLoggedIn; else NotAuthDiv">
        As logged in user you can access premium features of this app.
      </div>

      <ng-template #NotAuthDiv>
        <div class="alert alert-danger">
          Pls login to access premium features of this app.
        </div>
      </ng-template>

      <h4>*ngFor</h4>
      <ul>
        <li *ngFor="let skill of skillList">{{skill}}</li>
      </ul>
      <!-- TODO: find the index n *ngFor --> 

      <!-- TODO: ngSwitch -->

      <h4>Custom Attribute Directives | Demo</h4>
      <div appColorizer>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
      </div>

    </div>


  </div>
</div>